.achieve {
    padding: 0 30px;
    background-color: #f5f5fa;
    position: relative;
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        padding-top: 30px;
    }
}




