* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    min-width: 375px;
}

.container {
    max-width: 1440px;
    min-width: 375px;
    padding: 0 15px;
    margin: 0 auto;
}


